{% extends "base.html" %}


{% block content %}

<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
          <div class="row">
    {% for bookevent in bookevents %}
    <div class="col-12 col-md-6 col-lg-4">
    <div class="card shadow m-4" style="max-width: 18rem;">
      <img src="{{bookevent.event.poster.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color:black;">{{bookevent.event.title}}</h5>
        <p class="card-text" style="color:black;">{{bookevent.event.description}}</p>
        <p class="card-text" style="color:black;">{{bookevent.event.date}} {{bookevent.event.time}} ({{bookevent.event.location}})</p>
        <h5 class="card-title" style="color:black;">Booked Seats: {{bookevent.tickets}}</h5>
      </div>
  </div>
</div>
    {% endfor %}
  </div>
</div>
</div>

<div class="bg-circle-1 bg-circle"></div>
<div class="bg-circle-2 bg-circle"></div>
<div class="bg-circle-3 bg-circle"></div>
<div class="bg-circle-4 bg-circle"></div>
</header>


{% endblock %}

